#heroCard::before{
    background-image: url(../assets/img/Banners/banner_contato.jpg);
}

#destaqueContato{
    margin: auto;
    text-align: center;
    font-weight: 400;
}
#destaqueContato h1{
    font-size: clamp(1.5rem, 3vmax, 4rem);
}

#destaqueContato p{
    font-family: "Libre Baskerville";
    margin-top: 10px;
    color: var(--color--background);
    font-size: clamp(1rem,1.5vmax,2rem);
}