/* Icones importados pelo site do iconify: https://icon-sets.iconify.design/ */

/* Icone do Cardápio */
.food-menu {
  display: inline-block;
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23562135' d='M3 2h2v20H3zm7 4h7v2h-7zm0 4h7v2h-7z'/%3E%3Cpath fill='%23562135' d='M19 2H6v20h13c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2m0 18H8V4h11z'/%3E%3C/svg%3E");
}

/* Icone de flecha */
.arrow-filled {
  display: inline-block;
  width: 31px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 24'%3E%3Cpath fill='%23562135' fill-rule='evenodd' d='M10.157 12.711L4.5 18.368l-1.414-1.414l4.95-4.95l-4.95-4.95L4.5 5.64l5.657 5.657a1 1 0 0 1 0 1.414'/%3E%3C/svg%3E");
}

/* Icone de Entrada */
.door-open {
  display: inline-block;
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23562135' d='M11 13q.425 0 .713-.288T12 12t-.288-.712T11 11t-.712.288T10 12t.288.713T11 13m-4 8v-2l6-1V6.875q0-.375-.225-.675t-.575-.35L7 5V3l5.5.9q1.1.2 1.8 1.025T15 6.85v12.8zm-4 0v-2h2V5q0-.85.588-1.425T7 3h10q.85 0 1.425.575T19 5v14h2v2zm4-2h10V5H7z'/%3E%3C/svg%3E");
}

/*Icone phone contato*/
.ic--round-phone {
  display: inline-block;
 width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23562135' d='m19.23 15.26l-2.54-.29a1.99 1.99 0 0 0-1.64.57l-1.84 1.84a15.05 15.05 0 0 1-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52a2 2 0 0 0-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07c.53 8.54 7.36 15.36 15.89 15.89c1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98'/%3E%3C/svg%3E");
}

/*Icone do sobre*/

.collections-bookmark {
  display: inline-block;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23562135' d='M18 3H7a1 1 0 0 0-.707.293l-3 3l-.057.062a1 1 0 0 0-.235.6L3 7.008V18c0 1.654 1.346 3 3 3h9a3.01 3.01 0 0 0 2.829-2h.671c1.402 0 2.5-1.317 2.5-3V6c0-1.654-1.346-3-3-3M6 19c-.551 0-1-.448-1-1V8h2v11zm10-1c0 .552-.449 1-1 1H8V8h7c.551 0 1 .448 1 1zm3-2c0 .62-.324 1-.5 1H18V9c0-1.654-1.346-3-3-3H6.414l1-1H18c.551 0 1 .448 1 1z'/%3E%3C/svg%3E");
}
.hugeicons--location-05 {
  display: inline-block;
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23562135' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' color='%23562135'%3E%3Cpath d='M14.5 9a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0'/%3E%3Cpath d='M13.257 17.494a1.813 1.813 0 0 1-2.514 0c-3.089-2.993-7.228-6.336-5.21-11.19C6.626 3.679 9.246 2 12 2s5.375 1.68 6.467 4.304c2.016 4.847-2.113 8.207-5.21 11.19M18 20c0 1.105-2.686 2-6 2s-6-.895-6-2'/%3E%3C/g%3E%3C/svg%3E");
}