
 .yume {
    color: var(--color--primary);
    font-family: "Libre Baskerville";

}

.p{
    color: var(--color--background);
}

.titulo{
    
    font-family: "Libre Baskerville";
    color: var(--color--background);
    margin: auto;
    text-align: center;
    font-size: 20px;

}

/* Final da Hero */




.iconeGuia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: var(--color--accent);
    border-radius: 50%;
    box-shadow: 0px 4px 8px #00000040;
    

}

#heroCard::before{
    background-image: 
        var(--gradient), url(../assets/img/Banners/banner_sobre.jpg);
}


/*parte das 2 imagens*/
.principal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    gap: 300px;

}
.imagens{
    
    width: 400px; /* ajuste conforme necessário */
    height: 0px; /* ajuste conforme necessário */
    margin-bottom: auto;
   
}

.img1{
    position: absolute;
  top: 0;
 
  margin-right: 500px;
  width: 500px; /* ajuste conforme necessário */
  border: 3px solid var(--color--primary);
  z-index: 2;
  border-radius: 8px;
}

.img2{
    position: absolute;
  top: 170px; /* ajuste para a sobreposição desejada */
  left: 40px; /* ajuste para a sobreposição desejada */
  width: 460px; /* ajuste conforme necessário */
  border: 3px solid var(--color--primary);
  z-index: 1;
  border-radius: 8px;
}

/*parte dos textos*/

.titulo2 {
    
   /* padding: 1px 180px; */
    font-size: 1.3rem;
}

.sub{
    
    margin-top: 12%;
    margin-bottom: 3%;
    /* color: var(--color--accent); */
    font-size: 2rem;
}



.p2{
    /*position:absolute;*/
    font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.7;
  color: var(--color--text);
  margin: 1px;
  text-align: justify;
   max-width: 700px;
   margin-top: 5%;
   margin-bottom: 5%;
}

/*sakuras*/

.sakuraD {
  position: absolute;
  top: 250px; /* Aumente esse valor para descer mais */
  left: 82.2%;
  z-index: 1;
  max-width: 350px;
  
}




































   


