@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


/* Utilizando Iconify em css: https://iconify.design/docs/usage/css/ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color--primary: #EB96C1;
    --color--secondary: #562135;
    --color--accent: #ff788a;
    --color--background: #FFEFFE;
    --color--text: #000000;
    --gradient: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .45));
    --transition: .5s;
}

body {
    font-size: 1.2rem;
    font-family: "Lexend";
    background-color: var(--color--background);
}

h1 {
    font-family: "Libre Baskerville";
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color--background);
    font-weight: 600;
    transition: color var(--transition);
}

span {
    color: var(--color--primary);
}

/* Personaliza a cor e o fundo quando o texto é selecionado */
::selection {
    color: white;
    background: var(--color--accent);
}

/* Começo da Hero */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100dvh;
    background-image: var(--gradient), url(../assets/img/Banners/banner_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 100%;
    background-color: #5621351f;
    backdrop-filter: blur(1rem);
}

#logo {
    width: 100px;
}

.header h1 {
    font-size: clamp(3rem, 4vmax, 8rem);
    color: var(--color--background);
    font-weight: 500;
}

#destaqueHome {
    position: relative;
    padding-left: 4rem;
    bottom: 23rem;
    z-index: 2;
    width: 65%;
}


a:hover {
    color: var(--color--accent);
}

.header-menu {
    display: flex;
    gap: 3.5rem;
    justify-content: space-between;
}

.btnReserva {
    font-family: "Lexend";
    width: 320px;
    height: 60px;
    margin-top: 1rem;
    border-radius: 20px;
    background-color: transparent;
    border: solid 3px var(--color--primary);
    color: var(--color--primary);
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);
    cursor: pointer;
}

.btnReserva:hover {
    background-color: var(--color--primary);
    color: var(--color--text);
}


.sanduiche {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--color-light);
    margin: .5rem auto;
    border-radius: var(--radius);
    transition: var(--transition);
}

/* ::before é necessário para dar o efeito de blur no componente */
.outroHr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.outroHr {
    position: relative;
    min-height: 50dvh;
    z-index: 2;
}

/* Final da Hero */

/* Boas Vindas */

.boas-vindas {
    padding: 200px 40px;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 100px;
    flex-wrap: wrap;
}

.imagens {
    position: relative;
    width: 400px;
    /* ajuste conforme necessário */
    height: 250px;
    /* ajuste conforme necessário */
}

.img1 {
    position: absolute;
    top: 0;
    margin-left: -200px;
    width: 500px;
    /* ajuste conforme necessário */
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(153, 64, 149, 0.2);
    z-index: 2;
    border-radius: 8px;
}

.img2 {
    position: absolute;
    top: 170px;
    /* ajuste para a sobreposição desejada */
    left: 40px;
    /* ajuste para a sobreposição desejada */
    width: 460px;
    /* ajuste conforme necessário */
    border: 3px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

/* Icone */

.icon-door {
    width: 80px;
    height: 80px;
    background: #fbeefa;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    /* Joga o conteúdo para o topo do círculo */
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative;
    margin-top: -600px
}

.icon-door img {
    width: 108px;
    height: 80px;
    object-fit: contain;
}


.texto {
    flex: 2;
    margin-top: 90px;
}

.bem-vindo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2e2e2e;
}

.text-inicial {
    font-size: 1.3rem;
    line-height: 1.7;
    color: #333;
    padding-right: 40px;
    /* ajuste esse valor conforme desejar */
}




/* Começo Cardápio */

#heroCard::before {
    background-image: var(--gradient), url(../assets/img/Banners/banner_cardapio.jpg);
}


.destaque {
    font-family: "Libre Baskerville";
    color: var(--color--background);
    margin: auto;
    text-align: center;
}

.outroHr h1 {
    font-size: clamp(3rem, 3.2vmax, 6rem)
}

.outroHr p {
    margin-top: 10px;
    font-size: clamp(1.3rem, 1.5vmax, 4rem)
}

.conteudoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sakura {
    position: absolute;
    height: 25vw;
    width: 100%;
    z-index: -1;
    background-image: url(../assets/img/Sakuras/sakura3.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: clamp(19rem, 22dvw, 25rem);
}

.header-cardapio {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 100%;
    height: clamp(4.6rem);
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
    background-color: var(--color--background);
    box-shadow: 0px 6px 12px #00000066;
    border-radius: 50px;
}

.btnCardapio {
    width: 15rem;
    height: 4.6rem;
    border-radius: 50px;
    background-color: transparent;
    border: 0;
    font-family: "Lexend";
    font-size: 15pt;
    cursor: pointer;
    transition: var(--transition);
}

.btnCardapio:hover {
    background-color: var(--color--primary);
    font-size: 17pt;
}

/* Iniciando Estilo do Icone e título  */
.pageTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
}

.pageTitulo h1 {
    color: var(--color--secondary);
    font-size: 25pt;
}

.iconeGuia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: var(--color--background);
    border-radius: 50%;
    box-shadow: 0px 4px 8px #00000040;
}
/* começo do mais vendidos */
#sakura2{
position: absolute;
width: 100%;
display: flex;
justify-content: flex-end;
z-index: -1;

}
#sakura2 img{
    width: 350px;
    height: 350px;
    position: absolute;
    top: -150px;
}
.mais-vendidos {

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.icone_cetas{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}
#arrow{
    display: flex;
    gap: 1.5rem;
}
.mais_vendidos{
    display: flex;
    justify-content:flex-start;
    gap: 2rem;
}
.pratos{
    display: flex;
    justify-content: space-around;
}
#arrow button {
    border: 2px solid var(--color--secondary);
    border-radius: 100%;
    color: var(--color--secondary);
    font-weight: 600;
    font-size: 1.5rem;
    background-color: transparent;
    text-align: center;
    width: 50px;            
    height: 50px; 

}
#arrow button:hover{
    background-color: var(--color--secondary);
    color: var(--color--background);
    transition: var(--transition);
}
.pratos #bloco1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    gap: 2rem;
    background-color: yellowgreen;
    
}
#asside1_2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

}
#asside1_1 img{
    width: 150px;
    height: 100px;
    border-radius: 50%;
}
.complemento{
    display: flex;
}